{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>Otympliga Spelen - {{ year }}</h1>
<div class="part">
    <h2>Anmälan</h2>
    Tyvärr får ni inte plats för att medverka i Otympliga spelen just nu!<br>
    <br>
    
    Just nu är det {{ current }} anmälda utav maximalt {{ max }} deltagare.<br>
	<br>
    Ta kontakt med någon Piraya för mer information!
</div>
    
{% endblock %}