{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>Otympliga Spelen - {{ os.year }}</h1>
<div class="part">
    <h2>Information</h2>
    {{ os.information|safe }}
    <h2>Anmälan</h2>
    {% if os.registration_open %}
    <a href="register/">Anmäl lag</a>
    {% else %}
    Anmälan är nu stängd.
    {% endif %}
    <h2>Anmälda lag</h2>
    {% if teams %}
    <ul>
        {% for team in teams %}
        <li><a href="team/{{ team.id }}/">{{ team.name }}</a></li>
        {% endfor %}
    </ul>
    <p>Totalt antal anmälda: {{ members|length }}st av maximala {{ os.max_participants }}</p>
    {% else %}
    <i>Just nu är det inga lag anmälda</i>
    {% endif %}
</div>
    
{% endblock %}
