{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>Otympliga Spelen - {{ year }}</h1>
<div class="part">
    <h2>Anmälan</h2>
    Tack för din anmälan!
</div>
    
{% endblock %}