{% extends "core/base.html" %}
{% load staticfiles %}

{% block javascript %}
<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
<script>
$(document).ready(function() {
    var num_members = 0;
    
    $("#add_member").click(function(event) {
        num_members++;
        
        $("#num_members").val(num_members);
        $("#table_members").append(
            '<tr>\
                <td colspan="2"><b>Medlem ' + num_members + '</b></td>\
            </tr>\
            <tr>\
                <td>Namn<span style="color: red;">*</span></td>\
                <td><input type="text" maxlength="128" name="member_' + (num_members - 1) + '_name"></td>\
            </tr>\
            <tr>\
                <td>Artistnamn<span style="color: red;">*</span></td>\
                <td><input type="text" maxlength="128" name="member_' + (num_members - 1) + '_alias"></td>\
            </tr>\
            <tr>\
                <td>Funktion<span style="color: red;">*</span></td>\
                <td><input type="text" maxlength="128" name="member_' + (num_members - 1) + '_function"></td>\
            </tr>\
            <tr>\
                <td>Allergier</td>\
                <td><input type="text" maxlength="128" name="member_' + (num_members - 1) + '_allergies"></td>\
            </tr>\
            <tr>\
                <td>Alkoholpreferens<span style="color: red;">*</span></td>\
                <td><select name="member_' + (num_members - 1) + '_drink"><option value="O">Öhl</option><option value="C">Cider</option><option value="L">Läsk</option></select></td>\
            </tr>\
            <tr>\
                <td>Kön<span style="color: red;">*</span></td>\
                <td><select name="member_' + (num_members - 1) + '_sex"><option value="F">Kvinna (0)</option><option value="M">Man (1)</option></select></td>\
            </tr>'
        );
        
        if (num_members == 10) {
            $("#add_member").attr("disabled", "disabled");
        }
        
        event.preventDefault();
    });
    
    $("#register").submit(function(event) {
        $("#form_submit").attr("disabled", "disabled");
        $("#error_message").hide();
    
        $.ajax({
            type: "POST",
            url: "",
            data: $("#register").serialize(),
            success: function(data) {
                if (data['success']) {
                    window.location.replace("done/");
                } else {
					if(data['full']){
						window.location.replace("full/");
					} else{
						$("#error_message").fadeIn();
						$("#form_submit").removeAttr("disabled");
					}
                }
            }
        });
        
        event.preventDefault();
    });
    
    // Add one member
    $("#add_member").click();
});
</script>
{% endblock %}

{% block content %}

<h1>Otympliga Spelen - {{ year }}</h1>
<div class="part">
    <h2>Anmälan</h2>
    Alla fält med <span style="color: red;">*</span> måste vara ifyllda.
    <form id="register">
        {% csrf_token %}
        
        <h3>Laginformation</h3>
        <table id="table_team">
            <tr>
                <td>Namn<span style="color: red;">*</span></td>
                <td><input type="text" maxlength="128" name="team_name"></td>
            </tr>
            <tr>
                <td>Email<span style="color: red;">*</span></td>
                <td><input type="email" maxlength="128" name="team_email"></td>
            </tr>
            <tr>
                <td>Kontaktperson<span style="color: red;">*</span></td>
                <td><input type="text" maxlength="64" name="team_contact"></td>
            </tr>
            <tr>
                <td>Telefonnummer<span style="color: red;">*</span></td>
                <td><input type="tel" maxlength="16" name="team_phone"></td>
            </tr>
            <tr>
                <td>Motto<span style="color: red;">*</span></td>
                <td><textarea cols="30" rows="5" name="team_motto"></textarea></td>
            </tr>
            <tr>
                <td>Meddelande till Piraya</td>
                <td><textarea cols="30" rows="5" name="piraya_message"></textarea></td>
            </tr>
        </table>
        
        <h3>Lagmedlemmar</h3>
        <input type="hidden" name="num_members" value="0" id="num_members">
        <table id="table_members">
        </table>
        
        <button id="add_member">Lägg till medlem</button>
        
        <p>
            <input id="form_submit" type="submit" value="Anmäl!">
            <br>
            <span id="error_message" style="color: red;" hidden>Det finns fält som inte är korrekt ifyllda.</span>
        </p>
    </form>
</div>
    
{% endblock %}
