{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>Otympliga Spelen - {{ year }}</h1>
<div class="part">
    <h2>{{ team.name }}</h2>
    
    <h3>Motto</h3>
    {{ team.motto }}
    
    <h3>Lagmedlemmar</h3>
    <ul>
        {% for member in members %}
        <li>{{ member.name }} aka {{ member.alias }} (betalt: {{ member.paid }})</li>
        {% endfor %}
    </ul>
</div>
    
{% endblock %}