{% extends "core/base.html" %}
{% load staticfiles %}
{% load core_extras %}

{% block content %}

<h1>Emeritus</h1><br>
<b>- En gång Piraya, alltid Piraya -</b>
<div class="part">
    En dag när en Piraya når en viss ålder, går han till den gömda Pirayakyrkogården och somnar stilla av, han blir en Emeritus!<br><br>

    På den här sidan har vi försökt samla de personer som varit med och festat, städat, burit ölbackar, haft baksmälla och allt annat som hör livet som Piraya till.<br>
    Vi vill ha hjälp med att fylla på databasen så om Du vet någon som borde vara med, har ny mailadress, bytt namn eller något annat så hör av dig! Mailadressen är som den länge varit piraya@acc.umu.se.<br><br>

    Vissa fula fiskar finns förevigade på bild, det är de som har en länk på sitt namn.<br><br>
    <table class="emeritus">
        <tr>
            <td><b>Namn</b></td>
            <td><b>Årgång</b></td>
            <td><b>SP?</b></td>
            <td><b>SID?</b></td>
            <td><b>Senast kända mailaddress</b></td>
            <td><b>Kommentar</b></td>
        </tr>
        {% for member in emeritus_list %}
        <tr>
            <td><a href="{% static 'images/members/'|add:member.picture_file %}">{{ member.name }}</a></td>
            <td>{{ member.year_started }}</td>
            <td>{{ member.years_sp }}</td>
            <td>{{ member.years_sid }}</td>
            <td>{{ member.email|email_safe }}</td>
            <td>{{ member.quote }}</td>
        </tr>
        {% endfor %}
    </table><br><br>
</div>
    
{% endblock %}