{% extends "core/base.html" %}
{% load staticfiles %}
{% load core_extras %}

{% block content %}

<h1>Medlemmar</h1>
<div class="part">
    Men även en Piraya går vidare i livet, då blir han en <a href="/members/emeritus/">emeritus</a><br>

    <table class="members">
        {% for member in active_list %}
        <tr>
            <td>
                <img src="{% static 'images/members/'|add:member.picture_file %}" alt="fisk">
            </td>
            <td>
                <h3>{{ member.get_title }}</h3>
                <b>{{ member.name }}</b><br>
                Telefon: {{ member.phone_number }}<br>
                Email: {{ member.email|email_safe }}<br>
                {% if member.quote %}
                Kända ord: <i>"{{ member.quote }}"</i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <tr></tr>
        {% for member in rookie_list %}
        <tr>
            <td>
                <img src="{% static 'images/members/'|add:member.picture_file %}" alt="fisk">
            </td>
            <td>
                <h3>{{ member.get_title }}</h3>
                <b>{{ member.name }}</b><br>
                Telefon: {{ member.phone_number }}<br>
                Email: {{ member.email|email_safe }}<br>
                {% if member.quote %}
                Kända ord: <i>{{ member.quote }}</i>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    Om ni vill skicka beundrarbrev eller spontana gåvor går detta bra till följande adress (gåvor bör i och för sig inte skickas via email då vi tycker bäst om hårda paket!) :<br><br>

    <b>Piraya Party Providers</b><br>
    CS-Sektionen<br>
    Inst för Datavetenskap<br>
    Umeå Universitet<br>
    901 87 Umeå<br>
</div>
    
{% endblock %}