@charset "UTF-8";

body {
	color: #333333;
 	font-size: 11px;
	font-family: Verdana, arial, sans-serif;
	margin-top: 5px;
	margin-left: 30px;
	background-color: #EEEEEE;
	color: #222222;
}

img {
	border: none;
}

a {
	color: #000000;
	text-decoration: underline;
}

a:hover {
	color: #444444;
}

#menu {
	text-align: left;
	margin-top: 15px;
	margin-left: 40px;
	clear: both;
	height: 170px;
	width: 100%;
}

#menu a {
	font-weight: bold;
	font-size: 13px;
}

#menu #left {
	margin-top: 10px;
	margin-left: 15px;
	float: left;
}

#menu #center{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

#menu #right{
	margin-top: 10px;
	margin-left: 40px;
	float: left;
	
}

#wrapper {
	-moz-box-shadow: 10px 5px 5px #666666;
	-webkit-box-shadow: 10px 5px 5px #666666;
    box-shadow: 10px 5px 5px #666666;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	margin: 0 auto;
	width: 640px;
	text-align: center;
	border: 1px solid;
	background-color: #9abcde;
}

#title {
	margin-left: 10px;
	font-size: 26px;
	font-family: verdana;
	font-weight: bold;
}

#container {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#footer {
	margin-top: 10px;
	font-style: italic;
	font-size: 9px;
}

#bottom {
	text-align: center;
	font-size: 11px;
	margin: 10px;
}

.part {
	margin: 1em 3em;
	padding: .5em;
	display: block;
}

.rookie {
	color: #FF99CC;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	font-size: 12px;
}

.news {
    padding: .5em;
    background-color: #89abcd;
}

.news:nth-child(even) {
    background-color: #abcdef;
}

table.members {
    border-collapse: separate;
    border-spacing: 1em 2em;
}

table.emeritus {
    border-collapse: collapse;
}

table.emeritus td, table.emeritus th {
    border: thin solid black;
    padding: 5px;
}

table.emeritus tr:nth-child(odd) {
    background-color: #abcdef;
}