{% extends "core/base.html" %}

{% block content %}

<h1>OJ OJ OJ ...</h1>
<div class="part">
    Det verkar som om den här sidan inte finns, eller så har du helt enkelt skrivit fel lilla vännen.
    Men var inte lessen, om du känner att det inte var ditt fel utan att det är de stygga killarna i
    Piraya som gjort fel så skicka ett mail till <a href="mailto:piraya@acc.umu.se">piraya@acc.umu.se</a>
    och säg vad felet är.<br>
    <br>
    Puss på dig så länge!
</div>

{% endblock %}