{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Piraya Party Providers</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        {% block stylesheet %}{% endblock %}
        {% block javascript %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="menu">
                <div id="left">
                    <a href="/"><img src="{% static 'images/newpiraya2.gif' %}" alt="piraya logo"></a>
                </div>
                    <br>
                    <span id="title">PIRAYA PARTY PROVIDERS</span>
                <div id="center">
                    <img src="{% static 'images/dot.gif' %}" alt="::"><a href="/members/">Medlemmar</a><br>
                    <img src="{% static 'images/dot.gif' %}" alt="::"><a href="/events/">Evenemang</a><br>
                    <img src="{% static 'images/dot.gif' %}" alt="::"><a href="/os/">Otympliga Spelen</a><br>
                </div>
                <div id="right">
                    <img src="{% static 'images/dot.gif' %}" alt="::"><a href="/drinks/">Drinkrecept</a><br>
                    <img src="{% static 'images/dot.gif' %}" alt="::"><a href="/"></a><br>
                    <img src="{% static 'images/dot.gif' %}" alt="::"><a href="/"></a><br>
                </div>
            </div>
            <div id="container">
            {% block content %}{% endblock %}
            </div>
            <div id="bottom">
                <p>
                    Kontakta <a href="/contact/">Piraya</a><br>
                    Copyright © 1985-2013 Piraya. Alla rättigheter förbehålles.<br>
                    <a href="/policy/">Policy för personlig information</a>
                </p>
            </div>
        </div>
    </body>
</html>
