{% extends "core/base.html" %}

{% block content %}

<h1>Kontakt</h1>
<div class="part">
    Om ni vill skicka beundrarbrev eller spontana gåvor går detta bra till följande adress (gåvor bör i och för sig inte skickas via email då vi tycker bäst om hårda paket!):<br>
    <br>
    <b>Piraya Party Providers</b><br>
    CS-Sektionen<br>
    Inst för Datavetenskap<br>
    Umeå Universitet<br>
    901 87 Umeå<br>
    <br>
    Email: <a href="mailto:piraya@acc.umu.se">piraya@acc.umu.se</a><br>
    Hemsida: <a href="http://www.acc.umu.se/~piraya">http://www.acc.umu.se/~piraya</a>
</div>

{% endblock %}