{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>Evenemang</h1>
<div class="part">
    <ul>
      <li>SMTP</li>
      <li>Datavetarnas öppna CAPS-mästerskap</li>
      <li>Chilli</li>
      <li>Gröt och Glögg</li>
      <li>Otympliga Spelen</li>
    </ul>
</div>
    
{% endblock %}