{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>Presentation</h1>
<div class="part">
    <a href="{% static "images/piraya.jpg" %}">Piraya</a> är Umeås Datavetares festeri.
    Vi verkar främst för att underhålla linjens medlemmar, men vi arrangerar även fester för andra.
    Ett bra exempel på detta är <a href="/os/">Otympliga Spelen!</a>
    Vi hoppas verkligen att ni alla har lust att deltaga i dessa underbara tävlingar.
    <p>Andra evenmang vi ordnar är bland annat chilisittning, gröt och glögg, filmvisning och lagar ärtsoppa.
    Vi medverkar självklart också på n0llningen och tidigare på tjejhelger som ordnas.
    Tyvärr får vi inte vara med och värva dessa flickor till Umeå längre. Vi lyckades helt enkelt för bra.</p>
</div>

<h1>Din personliga länk</h1>
<div class="part">
    TODO
</div>

<h1>Nyheter</h1>
<div class="part">
{% for news in latest_news_list %}
    <div class="news">
        <i>{{ news.pub_date|date:"Y-m-d" }}</i><br>
        <b>{{ news.title }}</b><br>
        {{ news.content }}
    </div>
{% endfor %}
</div>
    
{% endblock %}
