{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}

<h1>Otympliga Spelen</h1>
<div class="part">
    V A D    Ä R    O S ?

    OS, eller de Otympliga Spelen som det egentligen heter, är en tävling i
    dagarna tre som annordnas av Piraya.
    Vem som får äran och lyckan att ta hem det stora priset avgörs på
    lördagen med traditionella OS-grenar. De finns två ärofyllda moment man kan
    vinna i under OS, först och främst själva OS-titeln men det finns ett lika
    viktigt pris att vinna om man kanske inte är den inbitna vinnartypen, Best in
    show.
</div>
    
{% endblock %}