{% extends "core/base.html" %}

{% block content %}

<h1>Policyfrågor</h1>
<div class="part">
    Piraya har åtagit sig att se till att din integritet online ej behålls. I nedanstående policy beskrivs hur personlig information behandlas när du använder dig av våra personliga tjänster. Observera att vissa tjänster som nämns kanske ännu inte finns på alla våra internationella Piraya-platser och att policyn kan ändras så du bör kontrollera den med jämna mellanrum.<br>
    <br>
    <b>§1 Vem äger din personlighet?</b><br>
    Piraya äger dig, dina saker så länge som du vistas på hemsidan eller med en piraya.<br>
    <br>
    <b>§2 Vad får vi göra med dig?</b><br>
    Eftersom vi tillämpar §1 så kan vi göra vad vi vill med dig, så länge det inte skadar Piraya. Vi har rätt att låna ut er till andra mot lämplig ersättning.<br>
    <br>
    <b>§3 Kan man köpa sig lös från Piraya?</b><br>
    Ja mot lämplig ersättning. Då vi värderar gratis arbetskraft så är det bästa att lura in en polare på hemsidan i stället och låta honom göra jobber åt dig.<br>
    <br>
    <b>§4 Våra drinkrecept</b><br>
    Piraya tar kanske ansvar om man blandar en riktigt stor grogg från våra drinkrecept och däckar. Men om man däremot blandar en liten drink kan vi inte på något sätt ta ansvar för att personen dricker dåligt. Det vi däremot kan göra är att lära personen i fråga att blanda större drinkar.<br>
    <br>
    <b>§5 Skadestånd</b><br>
    Det finns möjlighet att få ersättning om man anser att Piraya gjort sig skyldig till brott eller på annat sätt ofredat er mer än vanligt. För att ta del av ersättningen krävs att man fyller i blanket A223.b och sätter in 500:- på Pirayakontot. Om vi finner oss skyldiga kommer vi betala ut en skälig summa. Om du anser att du fått för lite i ersättning får du kontakta Pirayas etiska kommité.
</div>

{% endblock %}