{% extends "core/base.html" %}
{% load staticfiles %}

{% block javascript %}
<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
<script>
$(document).ready(function() {
    var num_ing = 1;
    
    $("#add_ingredient").click(function() {
        num_ing++;
        
        $("#num_ingredients").val(num_ing);
        $("#ingredients").append(
            '<div id="ing' + (num_ing - 1) + '">Ingrediens ' + num_ing + ': <input type="text" name="ing' + (num_ing - 1) + '"> Kvantitet: <input type="text" name="qua' + (num_ing - 1) + '"></div>'
        );
        
        if (num_ing == 8) {
            $("#add_ingredient").attr("disabled", "disabled");
        }
        if (num_ing > 1) {
            $("#rem_ingredient").removeAttr("disabled");
        }
    });
    
    $("#rem_ingredient").click(function() {
        num_ing--;
        $("#ing" + num_ing).remove();        
        $("#num_ingredients").val(num_ing);
        if (num_ing < 8) {
            $("#add_ingredient").removeAttr("disabled");
        }
        if (num_ing == 1) {
            $("#rem_ingredient").attr("disabled", "disabled");
        }
    });
});
</script>
{% endblock %}

{% block content %}
<h1>Drinkrecept</h1>
<div class="part">
    <h2>Skicka in en drink</h2>
    <form action="/drinks/add/" method="post">
        {% csrf_token %}
        <div>
            <label for="id_name">Drinkens namn:</label>
            <input id="id_name" type="text" name="name">
        </div>
        <br>
        <div>
            <label for="id_num_ing">Antal ingredienser:</label>
            <select id="id_num_ing">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <br>
            <input id="num_ingredients" type="hidden" name="num_ingredients" value="1">
            <label for="id_ing_0">Ingrediens:</label>
            <input id="id_ing_0" type="text" name="ing_0">
            <label for="id_qua_0">Kvantitet:</label>
            <input id="id_qua_0" type="text" name="qua0">
        </div>
        <br>
        <div>
            <label for="id_description">Beskrivning, hur den blandas till, med mera:</label>
            <textarea id="id_description" name="description" cols="50" rows="8"></textarea>
            <br>
            <label for="id_type">Typ:</label>
            <select id="id_type" name="type">
                <option value="Drink">Drink</option>
                <option value="Shot">Shot</option>
            </select>
            <br>
            <label for="id_sentby">Inskickad av:</label>
            <input id="id_sentby" type="text" name="sentby">
        </div>
        <br>
        <input type="submit" value="Skicka!">
    </form>
</div>
{% endblock %}